html {
    background: linear-gradient(180deg, #2962ff 20%, #0039cb 80%);
    color: #ffff00;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Srisakdi', cursive;
}
main {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
main #svg-container {

}

svg g#hand {
    animation: animate-hand 1.5s alternate infinite;
}

svg g#key-three {
    animation: animate-three 3s infinite;
    opacity: 0;
    animation-delay: 1.5s;
    transition-timing-function: ease-out;
}
svg g#key-two {
    animation: animate-two 3s infinite;
    opacity: 0;
    animation-delay: 1.5s;
    transition-timing-function: ease-out;
}
svg g#key-one {
    animation: animate-one 3s infinite;
    opacity: 0;
    animation-delay: 1.5s;
    transition-timing-function: ease-out;
}


@keyframes animate-hand { 
    from { 
        opacity: 0;
        transform: rotate(360deg) translate(100px, -50px) rotate(0deg); 
    }
    to {
        opacity: 1;
        transform: rotate(180deg) translate(60px, -50px) rotate(180deg); 
    }
}

@keyframes animate-three { 
    0% { 
        opacity: 0;
        transform: rotate(180deg) translateX(120px) rotate(180deg); 
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(360deg) translate(100px, -180px) rotate(0deg); 
    }
}
@keyframes animate-two { 
    0% { 
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-220px);
    }
}

@keyframes animate-one { 
    0% { 
        opacity: 0;
        transform: rotate(180deg) translateX(-130px) rotate(180deg); 
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-100px, -180px) rotate(360deg);
    }
}